/* Standard Styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Responsivität */
@media (max-width: 768px) {
  #map {
    height: 60vh; /* Karte kleiner auf Handys */
  }
}

.leaflet-popup-content {
  font-size: 0.9em;
  max-width: 200px;
}

@media (max-width: 768px) {
  .leaflet-popup-content {
    max-width: 150px; /* Popups kleiner auf Handys */
  }
}
