body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px;
}

#map {
  height: 90vh;
  width: 100%;
}

.espinal-popup .image-container {
  position: relative;
  display: inline-block;
}

.espinal-image {
  display: none;
  width: 200px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.espinal-popup:hover .espinal-image {
  display: block;
}
